@using SFA.DAS.ProviderRegistrations.Web.Extensions
@{
    ViewData["Title"] = "You do not have permission to access this page";
    ViewBag.GaData.Vpv = "/registrations/error/403";
}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You do not have permission to access this page</h1>
    <p class="govuk-body">
        If you think you should have permission to access this page or want to confirm what permissions you have, contact an IdAMS super user.
    </p>
    <p class="govuk-body">
        <a id="back-link" class="govuk-link govuk-link--no-visited-state" href="@Url.ProviderApprenticeshipServiceLink("/account")">Go back to home page</a>
    </p>
  </div>
</div>